@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Young+Serif&display=swap');

.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}
.khand-light {
    font-family: "Khand", serif;
    font-weight: 300;
    font-style: normal;
}

.khand-regular {
    font-family: "Khand", serif;
    font-weight: 400;
    font-style: normal;
}

.khand-medium {
    font-family: "Khand", serif;
    font-weight: 500;
    font-style: normal;
}

.khand-semibold {
    font-family: "Khand", serif;
    font-weight: 600;
    font-style: normal;
}

.khand-bold {
    font-family: "Khand", serif;
    font-weight: 700;
    font-style: normal;
}

/* Masonry */
.grid {
    max-width: 1200px;
    margin: auto;
}
.grid-item {
    width: 30%;
    margin-bottom: 16px;
}
.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Misc */